[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "src/logger/proto"]
	path = src/logger/proto
	url = https://github.com/delta/codecharacter-proto-2019
